@media (min-width:627px) {
    .searchbar {
        width: 500px;
    }

    .logo_text {
        font-size: 28px;
    }

    h1 {
        font-size: 50px;
    }

    .top {
        margin: 0px;
        text-align: center;
        margin: 0px auto;
        width: 550px;
    }

    .news > div {
        display: flex;
        max-width: 1000px;
        margin: 80px auto;
        flex-direction: row;
    }
    
    .news-content > div {
        display: flex;
        flex-direction: column;
        margin-left: 40px;
        font-size: 20px;
    }
}

@media (min-width: 800px) {
    h1 {
        font-size: 60px;
        text-align: center;
    }
    
    h2 {
        font-size: 50px;
        text-align: center;
    }
    
    h3 {
        font-size: 30px;
    }

    .logo_text {
        font-size: 35px;
    }

    .professor_img,
    .night_img {
    max-width: none;
    }

    .searchbar {
        width: 600px;
    }

    .top {
        width: 800px;
        font-size: 20px;
    }

    .form-wrapper {
        flex-direction: row;
    }

}

@media (min-width: 1000px){
    .exhibits-content {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
    
    .exhibits-content > div {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .explore-content {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
    
    .explore-content > div {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .information-section {
        display: flex;
        max-width: 1700px;
        margin: auto;
    }
    
    .information-section > * {
        flex: 1;
        padding: 40px;
    }

    .about-content {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        max-width: 1200px;
        margin: auto;
        font-size: 20px;
    }

    .cosmology-content,
    .evolution-content,
    .biology-content,
    .robotics-content,
    .ecology-content {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        max-width: 1200px;
        margin: auto;
        font-size: 20px;
    }

    .exhibition-cosmology,
    .exhibition-evolution,
    .exhibition-biology,
    .exhibition-robotics,
    .exhibition-ecology {
        max-width: none;
        margin-left: 40px;
    }   

    .support-content,
    .volunteer-content,
    .internship-content {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-evenly;
        align-items: center;
        max-width: 1200px;
        margin: auto;
        font-size: 20px;
    }

    .internship_img,
    .volunteer_img,
    .support_img {
        max-width: none;
        margin-right: 40px;
    }

    .kids-content,
    .teachers-content,
    .researchers-content{
        display: flex;
        flex-direction: row;
        max-width: 1200px;
        margin: auto;
        padding: 30px;
        align-items: center;
        justify-content: space-evenly;
        font-size: 20px;
    }

    .researchers-content_img {
        margin-left: 40px;
    }
    
    .kids-content_img {
        margin-left: 40px;
    }
    
    .teachers-content_img {
        margin-left: 40px;
    }
}

@media (min-width: 1500px) {
    .cosmology_img,
    .biology_img,
    .evolution_img {
        max-width: none;
    }

    .cosmology-content,
    .evolution-content,
    .biology-content,
    .robotics-content,
    .ecology-content {
        font-size: 20px;
    }

    .logo_text {
        font-size: 40px;
    }
}