header {
    background-color: #D1D0C1;
    display: inline-block;
}

.searchbar_line {
    background-color: #807F75;
}


.cta-button {
    background-color: #D1D0C1;
    min-width: 325px;
}

#hamburger-menu {
    display: none;
}

#hamburger-menu:checked ~ nav {
    display: block;
}

nav {
    display: none;
}

nav li {
    display: block;
    padding: 10px;
}
