a {
    text-decoration: none;
}

header {
    background-color: #D1D0C1;
    display: inline-block;
}

.searchbar_line {
    background-color: #807F75;
}


.cta-button {
    background-color: #D1D0C1;
    min-width: 325px;
}

.cta-menu{
    min-width: 250px;
    min-height: 30px;
    font-size: 20;
    background-color:#f2f2f2;
    border-radius: 1px;
    border: #707070;
}

#hamburger-menu {
    display: none;
}

#hamburger-menu:checked ~ nav {
    display: block;
}

nav {
    margin-left: 25px;
    padding-right: 25px;
    display: none;
    position: fixed;
    top: 80px;
    z-index: 1000;
    right: 0px;
    background-color: #D1D0C1;
}

nav li {
    display: block;
    padding: 10px;
}
