@import "imports/links.css";

body {
    background: #f2f2f2;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0px;
}

h1 {
    font-size: 50px;
    text-align: center;
}

h2 {
    font-size: 38px;
    text-align: center;
}

h3 {
    font-size: 30px;
}

.logo_text {
    font-size: 23px;
    display: block;
    margin-left: 15px;
}

header {
    background-color: #D1D0C1;
}

.upper-header {
    height: 100px
}

.searchbar_line {
    background-color: #807F75;
    text-align: center;
    padding: 20px;
}

.searchbar {
    width: 300px;
    border-radius: 10px;
    border: 0px; 
    height: 35px;
    margin: 0px auto;
    font-size: 25px;
    padding: 0px;
    
}

#hamburger-menu {
    display: none;
}

#hamburger-menu:checked ~ nav {
    display: block;
}

nav {
    margin-left: 25px;
    padding-right: 25px;
    display: none;
    position: fixed;
    top: 80px;
    z-index: 1000;
    right: 0px;
    background-color: #D1D0C1;
    margin-top: 48px;
    border-bottom: solid 1px #000;
    border-left: solid 1px #000;
}

nav li {
    display: block;
    padding: 15px;
}

.top {
    text-align: center;
    padding: 20px;
    width: 267px;
    margin: auto;
}

footer {
    background: #807F75;
    color: #f2f2f2;
    text-align: center;
    padding: 10px;
    font-size: 15px;
}

.logo_full {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
    font-weight: 700;
}

.fa-bars {
    font-size: 60px;
}

.welcome {
    background: url(../images/Banner.jpg);
    background-size: cover;
    min-height: 30vh;
    background-position-x: center;
}
